Flask
Flask-Cors
python-dotenv
psycopg2-binary
nltk
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
protobuf
# Add Gemini library
google-generativeai

# GDELT API client
gdeltdoc

torch
torchvision
gunicorn